@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary-1: hsl(243, 87%, 12%);
  --color-primary-2: hsl(238, 22%, 44%);
  --color-Accent-1: hsl(224, 93%, 58%);
  --color-Accent-2: hsl(170, 45%, 43%);
  --color-Accent-3: hsl(170, 57%, 52%);
  --color-Accent-4: hsl(224, 93%, 68%);
  --color-Neutral-1: hsl(240, 75%, 98%);
  --color-Neutral-2: hsl(0, 0%, 75%);
  --color-white: #fff;
  --color-red: red;
}

body {
  font-family: var(--font-primary);
  font-size: 14px;
}

h1,
h2,
a {
  font-family: var(--font-secondary);
}

h1,
h2 {
  margin: 20px 0;
}

p {
  line-height: 1.5;
  font-size: clamp(14, 3vw, 16px);
  margin: 20px 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::placeholder {
  padding: 0 5%;
}

.email__input,
.btn {
  display: flex;
  width: 90%;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  height: 37px;
}

.btn {
  background-color: var(--color-Accent-1);
  color: var(--color-Neutral-1);
}

.form {
  position: relative;
}

/* ================ header ================ */

header {
  padding: 0 7%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}

.nav__logo {
  width: 100px;
  height: 40px;
}

.nav__list {
  display: flex;
}

.nav__list--link {
  font-weight: 400;
  color: var(--color-primary-1);
}

.nav__list--item + .nav__list--item {
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 70px 0;
}

/* ================ main ================ */

section {
  text-align: center;
  position: relative;
}

.second__section--container,
.first__section--container {
  padding: 9% 7%;
}

.first__section--container {
  background-color: var(--color-Neutral-1);
}

.curve {
  width: 100%;
  height: 50px;
}

.bg-curve-desktop {
  display: none;
  width: 100%;
  height: 100%;
}

.bg-curve-mobile {
  width: 100%;
  height: 100%;
}

.first__section--header {
  margin: 50px 0 20px 0;
}

.first__section--para {
  text-align: left;
}

.first__section--link {
  color: var(--color-Accent-2);
  position: relative;
  display: flex;
  width: 160px;
  margin: 50px auto;
  align-items: center;
  justify-content: space-between;
}

.first__section--link::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 3px;
  margin-top: 20px;
  background-color: var(--color-Accent-2);
}

.first__section--sub--container {
  background-image: url("./images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: 5% 5%;
  text-align: left;
  padding: 5%;
  margin: 5%;
  background-color: var(--color-white);
  box-shadow: 0 0 15px 5px rgba(9, 9, 9, 0.3%);
  border-radius: 10px;
}

.first__section--sub--container--sub {
  display: flex;
  align-items: center;
}

.testimonail__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.second__section {
  background-color: var(--color-primary-2);
  color: var(--color-white);
}

/* ================ footer ================ */

footer {
  background-color: var(--color-primary-1);
  color: var(--color-white);
  padding: 7%;
}

footer div {
  margin: 20px 0;
}

.footer__socail {
  text-align: center;
}

.footer__socail--item {
  display: inline-block;
  margin: 0 5px;
}

.footer__socail--link,
.footer__list--link {
  color: var(--color-white);
}

.footer__socail--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2%;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}

/* ================ Animation ================ */

.btn:hover {
  background-color: var(--color-Accent-4);
}

.footer__socail--link:hover {
  border: 1px solid var(--color-Accent-4);
  color: var(--color-Accent-4);
}

.footer__list--link:hover {
  color: var(--color-Accent-4);
}

.first__section--link:hover {
  color: var(--color-Accent-3);
}

.first__section--link:hover::after {
  background-color: var(--color-Accent-3);
}

/* ================ dom manipulation ================ */

.email_alrt {
  display: none;
  position: absolute;
  top: 35px;
  left: 5%;
}

.first_email-alrt {
  color: var(--color-red);
}

.show {
  display: inline;
}

/* ================ media query ================ */

@media (min-width: 700px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 4%;
  }

  footer .row {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }

  footer div {
    margin: 0 0;
  }

  footer p {
    margin: 0;
    padding: 0;
  }

  .list__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .first__section--text,
  .hero__text {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .hero__image,
  .first__section--image {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .email_alrt {
    position: absolute;
    top: 50px;
  }
  .first_email-alrt {
    left: 0;
  }
}

/* hero */

@media (min-width: 700px) {
  .hero__text {
    text-align: left;
  }

  .hero__text--sub--container {
    display: flex;
  }

  .hero__text--btn {
    width: 25%;
    margin-left: 0;
  }

  .hero__text--input {
    width: 60%;
    margin-left: 0;
  }

  .nav__list--item + .nav__list--item {
    margin-left: 40px;
  }
}

/* main */

@media (min-width: 700px) {
  .second__section--container,
  .first__section--container {
    padding: 5% 7%;
  }

  .bg-curve-desktop {
    display: block;
    width: 100%;
  }

  .bg-curve-mobile {
    display: none;
  }

  .first__section--text {
    text-align: left;
  }

  .first__section--sub--container,
  .first__section--link {
    margin-left: 0;
  }

  .first__section--sub--container {
    max-width: 70%;
  }

  .second__section--text {
    text-align: left;
  }

  .second__section--btn {
    width: 35%;
    margin-left: 5%;
  }
}
